[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
python-dotenv = "*"
redis = "*"
gunicorn = "*"
psycopg2-binary = "*"
asyncpg = "*"
uvicorn = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-dotenv = "*"
alembic = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
