{% extends 'base.html' %} {% block body %}
<div class="container center-screen">
  <h1>Mastermind Game</h1>

  <h3 class="settings-header">Game Settings:</h3>
  <!-- Welcome screen with options -->
  <form id="createGameForm">
    <div class="options-box">
      <!-- Number of allowed attempts -->
      <label for="attempts">Allowed attempts:</label>
      <select id="attempts" name="attempts">
        <option value="10" selected>10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>

      <!-- Number of digits in the codeword -->
      <label for="code_length">Number of digits in codeword:</label>
      <select id="code_length" name="code_length">
        <option value="4" selected>4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>

      <!-- Wordle-ify checkbox -->
      <label for="wordle_ify">
        <input type="checkbox" id="wordle_ify" name="wordle_ify" />
        Wordle-ify (use colors for feedback)
      </label>

      <button type="submit">Start Game</button>
    </div>
  </form>
</div>

<script>
  document
    .getElementById("createGameForm")
    .addEventListener("submit", function (event) {
      event.preventDefault();

      const formData = new FormData(event.target);
      const data = new URLSearchParams();

      formData.forEach((value, key) => {
        data.append(key, value);
      });

      // Make a POST request to the backend to create the game
      fetch("/create_game", {
        method: "POST",
        body: data,
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("data: ", data);
          if (data.status === "success") {
            console.log("Game created successfully. Redirecting...");
            window.location.href = "./play_game";
          } else {
            // Handle error or failure (optional)
            alert(data.message || "Error creating game.");
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
</script>
{% endblock %}
